.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .stat-cards{
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template: 100px / auto auto auto auto;
        grid-gap: 50px;
    }
    .chart-container{
        width: 100%;
        height: fit-content;
        .charts{
            width: 100%;
            display: grid;
            grid-template: auto / 50% 50%;
            grid-gap: 5px;
        }
    }
   
}